<div id="<%= dom_id project %>">
  <h2><%=link_to project.title, project_path(project) %></h2>

  <p>
    <%= project.description %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= project.owner.username %>
  </p>

  <%= link_to "Edit this project", edit_project_path(project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>

      
</div>
