<div id="left_bar">
  <h2>My Logged Bugs</h2>
  <div id="sidebar_bugs">
    <%= render Bug.where(author: Current.user).order(title: :desc), project: @project, type: "sidebar" %>
  </div>
</div>

<div id="page_content">
  <% flash.each do |type, message| %>
    <p style="color: <%= type == "alert" ? "red" : "green" %>"><%= message %></p>
  <% end %>

  <% content_for :title, "Projects" %>

  <h1>Projects</h1>
  <%= render @projects %>
  <%= link_to "New project", new_project_path %>
</div>
