<div id="page_content">
  <p style="color: green"><%= notice %></p>
  <%= render @project %>
  <h1>Bugs</h1>
  <%= render "bugs/new_button", project: @project, bug: Bug.new %>

  <%= turbo_stream_from "bugs" %>
  <div id="bugs">
    <%= render @project.bugs.order(created_at: :desc), project: @project %>
  </div>
</div>

<div id="right_bar">
  <h2>Project Tags</h2>
  <div id="sidebar_tags">
    <%= render @project.tags %>
  </div>
</div>
