<div id="page_content">
  <p style="color: green"><%= notice %></p>
  <%= render @project %>

  <%= render "bugs/form", project: @project, bug: Bug.new %>

  <%= turbo_stream_from "bugs" %>
  <div id="bugs">
    <%= render @project.bugs.order(created_at: :desc) %>
  </div>
</div>
