<div id="<%= dom_id(tag, :edit) %>" style="display: flex;">
    <p><%= tag.name %></p>

    <div style="margin-left: auto; display: flex; gap: 1em">
        <p>Weight: <%= tag.weight %></p>
        <%= render "tags/edit_button", tag: tag, project: tag.project %>
        <%= button_to "Delete", project_tag_path(tag.project, tag), method: :delete %>
    </div>
</div>