
<% if type == "sidebar" %>
    <div id="<%= dom_id(bug, :sidebar) %>">
        <p><%= link_to "#{bug.title}: #{"in" unless bug.completed }complete", project_path(bug.project, anchor: dom_id(bug)) %></p>
    </div>
<% else %>
    <div id="<%= dom_id(bug) %>">
        <%= render "bugs/content", bug: bug %>
        <%= render "bugs/edit_button", project: project, bug: bug if Current.user == bug.author %>
    </div>
<% end %>