<%= turbo_frame_tag combined_dom_id(project, bug) do %>
    <div id="bubble">
        <h2><%= action %></h2>
        <%= form_with model: [project, bug] do |form| %>
            <div>
                <%= form.label :title %>
                <%= form.text_field :title, required: true %>
            </div>
            <div>
                <%= form.label :description %>
                <%= form.rich_text_area :description %>
            </div>

            <div>
                <%= form.label :tag_ids, "Tags" %><br>
                <%= form.collection_check_boxes :tag_ids, project.tags, :id, :name %>
            </div>

            <div>
                <%= form.submit %>
            </div>
        <% end %>
        <%= link_to "Cancel", project_path(project) %>
    </div>
<% end %>