<%= turbo_frame_tag dom_id(Bug.new) do %>
    <div id="bug_form">
        <h2>Add Bug</h2>
        <%= form_with model: [project, bug] do |form| %>
            <div>
                <%= form.label :title %>
                <%= form.text_field :title, required: true %>
            </div>
            <div>
                <%= form.label :description %>
                <%= form.rich_text_area :description %>
            </div>

            <div>
                <%= form.submit %>
            </div>
        <% end %>
    </div>
<% end %>